*.py[co]

#small test code that contains my keys
t.py

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
include
lib
local
var
sdist
develop-eggs
.installed.cfg
.eggs
.cache
.vscode

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.codecov-token
.tox
htmlcov
.tox
nosetests.xml
htmlcov
coverage.xml
.hypothesis

# PyCharm data
.idea

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#Environment
env
.python-version

violations.flake8.txt

# Built docs
doc/_build/**

# Mypy cache
**/.mypy_cache

# VS Code
**/.vscode
